@import "styles";

.footer-container {
    //position: absolute;
    //bottom: 0;
    width: 100%;
    background-color: $black;

    .text {
        color: $white;
        padding: 1em;
        text-align: center;
        .contact-us {
            font-size: 20px;
            color: $color-1
        }
    }
}