@import "styles";

.header-container {
    background-color: $black;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-container {
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        .logo {
            img {
                max-width: 50px;
                height: auto;
                @media screen and (max-width: 768px) {
                    max-width: 150px;
                    height: auto;
                }
                @media screen and (max-width: 480px) {
                    max-width: 70px;
                    height: auto;
                }
            }
        }

        .title {
            padding: 0 20px;
        }
    }

    .pink {
        color: $pink;
    }

    .golden {
        color: $golden; /* Gold color */
        text-shadow: $shine;
    }
    .hamburger-menu {
        display: none; // Hide by default on larger screens
    }

    .popup-menu {
        position: absolute;
        top: 150px;
        left: 0;
        width: 100%;
        z-index: 1000; // Ensure popup appears above other content

        .navigation,
        .languages {
            display: flex;
            align-items: center;
            gap: 10px;
            color: $white;
        }

        .languages {
            justify-content: center;
        }

        .navigation {
            flex-direction: column;
        }
    }

    .navigation,
    .languages {
        display: flex;
        align-items: center;
        gap: 10px;
        color: $white;
    }

    @media screen and (max-width: 768px) {
        .logo-container {
            padding: 0; // Remove padding on smaller screens
        }
        
        .hamburger-menu {
            display: flex; // Show hamburger menu on smaller screens
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            .line {
                width: 30px;
                height: 3px;
                background-color: white;
                margin: 3px 0;
                transition: all 0.3s ease;
            }

            &.open .line:first-child {
                transform: rotate(45deg) translate(5px, 5px);
            }

            &.open .line:nth-child(2) {
                opacity: 0;
            }

            &.open .line:last-child {
                transform: rotate(-45deg) translate(5px, -5px);
            }
        }

        .navigation,
        .languages {
            display: none; // Hide navigation and language selector by default on smaller screens
            width: 100%;
            padding: 10px 0;
            background-color: $black;
        }

        &.open .navigation,
        &.open .languages {
            display: flex; // Show navigation and language selector when hamburger menu is clicked
        }
    }
}

