@import "styles";

.header-container {
    background-color: $black;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-container {
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .logo {
            img {
                max-width: 100px;
                height: auto;
                @media screen and (max-width: 768px) {
                    max-width: 150px;
                    height: auto;
                }
                @media screen and (max-width: 480px) {
                    max-width: 70px;
                    height: auto;
                }
            }
        }

        .title {
            padding: 0 20px;
        }
    }

    .pink {
        color: $pink;
    }

    .golden {
        color: $golden;
        text-shadow: $shine;
    }
    .hamburger-menu {
        display: none;
    }

    .popup-menu {
        position: absolute;
        top: 72px;
        left: 0;
        width: 100%;
        z-index: 1000;

                @media screen and (min-width: 768px) {
                    top: 152px;
                }
        .navigation,
        .languages {
            display: flex;
            align-items: center;
            gap: 10px;
            color: $white;
            cursor: pointer;
        }

        .languages {
            justify-content: center;
            cursor: pointer;
        }

        .navigation {
            flex-direction: column;
        }
    }

    .navigation {
        gap: 20px !important;
        font-size: 21px;
    }

    .navigation,
    .languages {
        display: flex;
        align-items: center;
        gap: 10px;
        color: $white;
        margin-right: 10px;
        cursor: pointer;

        div {
            &:hover {
                color: $color-2;
                font-weight: $font-weight-600;
            }
        }

        .language-option.selected {
            color: $color-5;
        }

    }

    @media screen and (max-width: 768px) {
        .logo-container {
            cursor: pointer;
            padding: 0;
        }
        
        .hamburger-menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            margin-right: 10px;

            .line {
                width: 30px;
                height: 3px;
                background-color: white;
                margin: 3px 0;
                transition: all 0.3s ease;
            }

            &.open .line:first-child {
                transform: rotate(45deg) translate(5px, 5px);
            }

            &.open .line:nth-child(2) {
                opacity: 0;
            }

            &.open .line:last-child {
                transform: rotate(-45deg) translate(5px, -5px);
            }
        }

        .navigation,
        .languages {
            display: none;
            width: 100%;
            padding: 10px 0;
            background-color: $black;
        }

        &.open .navigation,
        &.open .languages {
            display: flex;
        }
    }
}

