.home-info-text {
    display: flex;
    justify-content: center;

    .center {
        width: 500px;
        margin: 10px
    }
}

.home-city-info-text {
    display: flex;
    justify-content: center;

    .center {
        width: 700px;
        margin: 10px
    }
}
.separator {
    padding: 10px 0;
}